@model List<MusicStoreApp.Models.Album>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table class="table  table-striped">


    @for (var i=0;i<Model.Count;i++)
    {
        <tr>
            <td>@Model[i].AlbumId</td>
            <td>@Model[i].AlbumType</td>
            <td>@Model[i].ArtistName</td>
            <td>@Model[i].Price</td>
        </tr>

    }
</table>
   